@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'tt_firs_neuelight';
  src: url('../fonts/typetype_-_tt_firs_neue_light-webfont.woff2') format('woff2');
    /* url('../fonts/typetype_-_tt_firs_neue_light-webfont.woff') format('woff'); */
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root {
  font-family: 'tt_firs_neuelight', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: #002F41;
  color: #B4B8C1;
  background-color: #002F41;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
::-webkit-scrollbar {
  width: 6px; 
}
::-webkit-scrollbar-thumb {
  background-color: #002F41;
}
#root {
  @apply max-w-[100%] max-md:w-[90vh] pt-8 px-4 md:p-8 text-center mx-auto;
  /* margin: 0 auto; */
}
body {
  @apply overflow-y-scroll;
  scrollbar-width: thin;
  scrollbar-face-color: #002F41;
  font-family: 'tt_firs_neuelight', sans-serif;
}
.main-container {
  @apply w-full p-[2rem];
}
.flex-container {
  @apply flex lg:flex-row flex-col justify-start items-center;
}
.small-wrapper {
  @apply w-full lg:w-1/3 h-full flex flex-col;
}
.tech {
  @apply flex flex-row justify-start items-center lg:py-6;
}
.icons path {
  @apply w-56;
}
img {
  @apply w-[10rem] md:w-[15rem] lg:w-[20rem];
}
.img-logo {
/* @apply w-full; */
}
.download {
  @apply hidden lg:flex flex-row items-center text-xl lg:text-2xl p-2 gap-2;
  font-family: 'tt_firs_neuelight', sans-serif;
}
.tech img {
  @apply w-[1.5rem] md:w-[2rem] lg:w-[3rem];
}

.big-container {
  @apply lg:w-2/3 flex flex-grow;
}
.content-wrapper {
  @apply flex flex-col justify-start items-center text-xl lg:text-2xl lg:gap-8 lg:pt-8 lg:px-10;
}
.social-wrapper {
  @apply hidden lg:flex flex-col justify-center items-center gap-4;
}
.social-icons {
  @apply w-full flex flex-row justify-center items-center text-5xl p-2 gap-6;
}
.cards-wrapper {
  @apply flex flex-col lg:justify-center items-center pt-[10rem] sm:pt-[14rem] md:pt-[8rem] xl:pt-36;
}
.card {
  @apply w-full flex flex-col justify-center items-start transition ease-in-out delay-150 hover:text-white hover:scale-105 duration-300 p-8 ml-8;
}
.card h1 {
  @apply lg:text-3xl xl:text-4xl text-xl;
}
.card p {
  @apply md:text-lg xl:text-2xl text-base text-start;
}
.card-img {
  @apply w-[5rem] xl:w-[8rem];
  /* float: left; 
   margin: 5px; */
}
.card-header {
  @apply flex flex-row justify-start items-center gap-4;
}
.card-tech {
  @apply w-full flex flex-row justify-start items-center;
}
.card-tech img {
  @apply lg:w-[2.5rem] w-[2rem] mx-2;
}
.about-wrapper {
  @apply flex flex-col justify-center items-center text-start text-base md:text-2xl gap-4 pt-[12rem] md:pt-[15.5rem] lg:pl-14 xl:text-3xl xl:py-36;
}
.links {
  @apply hidden lg:flex flex-col items-start text-xl lg:text-2xl;
}
.active {
  /* @apply; */
}
.btn-link {
  @apply flex flex-row justify-start items-center p-2 gap-2 hover:translate-x-2 duration-300 ease-in hover:text-white text-xl;
}
.link-container {
  @apply flex absolute -top-7 -right-32 hover:cursor-pointer z-10;
}
.link-container span {
  @apply flex flex-row items-center justify-center inline-block h-12 w-12 border border-white rounded-full text-xs p-3 mx-1 transition-transform transform hover:scale-110 duration-300 ease-in-out;
}