@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "tt_firs_neuelight";
  src: url("../fonts/typetype_-_tt_firs_neue_light-webfont.woff2")
    format("woff2");
}
@font-face {
  font-family: "tt_firs_neue_extrabold";
  src: url("../fonts/typetype_-_typeType - tt_firs_neue_extrabold.woff2")
    format("woff2") url("../fonts/typetype_-_tt_firs_neue_extrabold.woff")
    format("woff");
}

:root {
  font-family: "tt_firs_neuelight", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: #002f41;
  color: #b4b8c1;
  background-color: #002f41;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-thumb {
  background-color: #002f41;
}
#root {
  @apply max-w-[100%] max-md:w-[90vh] pt-8 px-4 md:p-8 text-center mx-auto;
}
body {
  @apply overflow-y-scroll;
  scrollbar-width: thin;
  scrollbar-face-color: #002f41;
  font-family: "tt_firs_neuelight", sans-serif;
}
.main-container {
  @apply w-full py-[4rem] px-2 xl:px-[6rem];
}
.flex-container {
  @apply flex lg:flex-row flex-col justify-start items-center;
}
.small-wrapper {
  @apply w-full lg:w-1/4 h-full flex flex-col justify-end;
}
.tech {
  @apply flex flex-row justify-start items-center lg:pt-2 xl:pt-2 gap-2 lg:gap-4;
}
.tech-icon {
  @apply flex justify-center w-20 border border-main text-main py-1 text-sm;
}
.icons path {
  @apply w-56;
}
img {
  @apply w-[10rem] md:w-[15rem];
}
.download {
  @apply hidden lg:flex flex-row items-center text-xl lg:text-2xl p-2 gap-2;
  font-family: "tt_firs_neuelight", sans-serif;
}
.tech img {
  @apply w-[1.5rem] md:w-[2rem] xl:w-[2rem];
}

.big-container {
  @apply lg:w-3/4 flex flex-grow;
}
.content-wrapper {
  @apply pt-[10rem] md:pt-[14rem] lg:pt-[6rem] lg:pl-14 xl:pt-24 2xl:pt-28;
}
.social-wrapper {
  @apply flex flex-col justify-start items-start gap-4 pt-2 md:pt-12;
}
.social-icons {
  @apply w-full flex flex-row justify-start items-center text-2xl lg:text-5xl p-2 gap-6;
}
.cards-wrapper {
  @apply flex flex-col xl:justify-center items-center;
}
.card {
  @apply w-full flex flex-col justify-center items-start transition ease-in-out delay-150 hover:text-white hover:scale-105 duration-1000 ml-4 pt-12 sm:p-8;
}
.card h1 {
  @apply lg:text-3xl xl:text-4xl sm:text-xl text-lg;
}
.card p {
  @apply md:text-lg xl:text-xl text-sm text-start;
}
.card-img {
  @apply w-[4rem] sm:w-[5rem] xl:w-[8rem];
}
.card-header {
  @apply flex flex-row justify-start items-center gap-1 sm:gap-4;
}
.card-tech {
  @apply w-full flex flex-row justify-start items-center;
}
.card-tech img {
  @apply lg:w-[2.5rem] sm:w-[2rem] w-[1.5rem] mx-2;
}
.about-wrapper {
  @apply flex flex-col justify-center items-center text-start text-base md:text-xl gap-4 xl:text-2xl mx-4;
}
.links {
  @apply hidden lg:flex flex-col items-start lg:pt-16 text-xl lg:text-2xl;
}
.btn-link {
  @apply flex flex-row justify-start items-center p-2 gap-2 hover:translate-x-2 duration-300 ease-in hover:text-white text-xl;
}
.link-container {
  @apply flex absolute -top-4 -right-16 sm:-top-7 sm:-right-20 hover:cursor-pointer z-10;
}
.link-container span {
  @apply flex flex-row items-center justify-center h-4 w-4 sm:h-8 sm:w-8 border border-white rounded-full text-xs p-3 mx-1 transition-transform hover:transform hover:scale-110 duration-300 ease-in-out;
}
